<!doctype html>
<html lang="en">
    <body>
        <%- include("navigationBar.ejs", { user }) %>

        <h1><%= user.username %></h1>
        <h2>Description</h2>
        <p>
            <%- user.description %>
            <!-- <%= user.description %> -->
        </p>

        <form method="post" action=<%= `/user/${user.username}` %> style="display: flex; flex-direction: column; max-width: 20rem">
            <label for="description">Description</label>
            <textarea title="description" name="description"><%= user.description %></textarea>

            <button type="submit">Update</button>
        </form>
    </body>
</html>
